html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    font-size: medium;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  	box-sizing: border-box;
}

:root{
	--padding-primary: calc(10px + 2vw);
	--padding-secondary: calc(5px + 1vw);
}
