.root {
    white-space: pre-wrap;
    text-align: left;
    border: 1px solid black;
    padding: 25px;
    max-width: 75%;
    font-size: 14px;
    margin: auto;
    background-color: black;
    box-shadow: 10px 10px 5px grey;
    animation: expand 0.5s linear;
}

@media only screen and (max-width: 800px) {
    .root {
      font-size: 12px;
      max-width: 95%;
      padding: 25px 20px;
    }
}

@media screen and (max-width: 400px) {
    .root {
      font-size: 11px;
      max-width: 100%;
    }
}

@keyframes expand {
    0% {
        width: 10%;
    }
    100% {
        width: 100%;
    }
}

.codeContainer {
    font-family: "Courier New", "Lucida Console", monospace;
    color: white;
}

.loaderCursor {
    display: inline-block;
    animation: rotate 2s infinite;
}

@keyframes rotate {
    100% {
        transform: rotate(-360deg);
    }
}

.cursorBlink {
    animation: blinker 1s linear infinite;
}
  
@keyframes blinker {
    20% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    80% {
        opacity: 0;
    }
}